.heading {
    color: gray;
    background-color: aqua;
}

h2 {
    color: blueviolet;
}

.ram {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.ram div {
    border: solid green;
}

.ram div:nth-child(2) {
    background-color: green;
}