body{
    margin: 0%;
}
.nav{
    background-color: rgb(255, 255, 255);
    height: 10vh;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    gap: 20px; /* Optional: space between grid items */
    margin-top: -40vh;
   
    

}
.header input{
    border-radius: 10px;
    border: 2px solid red;
    width: 30vw;
    height: 3vh;
}
.header{
      grid-column-start: 1;
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-start: 3;
   background-color: #232f3e;
    color: white;
    display: flex;
    gap: 10vw;
    justify-content: center;
    font-size: large;
/*     
    height: 7vh; */

}
.header span{
    margin-top: 2vh;
}
.subheader{
    grid-column-start: 1;
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-start: 3;
    background-color: #232f3e;
   color: white;
     display: flex;
     padding: 20px;
     justify-content: center;
          font-size: medium;
        align-items: center;
        gap: 5vw;
    
    
   

}
.header button{
    color: white;
    background-color:red ;
}

.img {
     background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/prime/Retention/JUP_25_Teaser/Jupiter25_H1_Prime_PC_REt_winback._CB801771297_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 2rem;
    color: #222;
    margin-bottom: 24px;
}

.child11 {
    background-color:white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
}

/* .child11 h2 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.2rem;
} */

.child10 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.c11, .c12, .c13, .c14 {
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
}

.c11 { background-image: url(https://m.media-amazon.com/images/I/61grsE2rE4L._AC_SY220_.jpg); }
.c12 { background-image: url(https://m.media-amazon.com/images/I/41Xg3Lwfi3L._AC_SY220_.jpg); }
.c13 { background-image: url(https://m.media-amazon.com/images/I/61n+koKZTZL._AC_SY220_.jpg); }
.c14 { background-image: url(https://m.media-amazon.com/images/I/514My746aFL._AC_SY220_.jpg); }

.child2, .child3, .child4, .child5 {
   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
}
.child2 { background-color:white; }
.child3 { background-color: white; }
.child4 { background-color: white}
.child5 { background-color: white; }

.c21, .c22, .c23, .c24 {
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    
    
}

.c21 { background-image: url(	https://m.media-amazon.com/images/I/41wDHNWqqmL._AC_SY290_.jpg); }
.c22 { background-image: url(	https://m.media-amazon.com/images/I/61CK00kuV5L._AC_SY290_.jpg); }
.c23 { background-image: url(https://m.media-amazon.com/images/I/61ddu0Q1QsL._AC_SY290_.jpg); }
.c24 { background-image: url(https://m.media-amazon.com/images/I/51uu92d0GyL._AC_SY290_.jpg); }

.footer{
     grid-column-start: 1;
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-start: 3;
    background-color: #333;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    font-size: large;
        color: #FFF;
    


}
.footer ol{
    list-style: none;
}
.back{
    display: flex;
    justify-content: center;
    background-color: #170e0e;
    color: white;
    align-items: center;
    text-align: center;
    padding: 1.5vh;
}